{% extends 'frontoffice/template.html.twig' %}

{% block title %} Ajouter un trick{% endblock title %}

{% block stylesheet %}
    {{ encore_entry_link_tags('frontoffice') }}
{% endblock stylesheet %}

{% block content %}
    <div class="container">
        <div class="row createForm">
            <div class="col-12 addForm">
                <h2 class="text-center">Créer un snow trick</h2>
                <hr>
                {{ form_start(form) }}
                {{ form_row(form.name) }}
                {{ form_row(form.group) }}
                {{ form_row(form.description) }}
                {{ form_row(form.images) }}
                {{ form_label(form.videos, 'Vidéo(s) :') }}
                <ul id="video-fields-list"
                    data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
                    data-widget-tags="{{ '<li></li>'|e }}"
                    data-widget-counter="{{ form.videos|length }}">
                    {% for videoField in form.videos %}
                        <li>
                            {{ form_widget(videoField) }}
                        </li>
                    {% endfor %}
                </ul>
                <button type="button" class="add-another-collection-widget" data-list-selector="#video-fields-list">
                    Ajouter
                </button>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary mt-3" type="submit">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
{{ encore_entry_script_tags('frontoffice') }}
{% endblock javascript %}
