{% extends 'frontoffice/template.html.twig' %}

{% block title %} Détails {% for trick in trickDetails %} {{ trick.name }} {% endfor %} {% endblock title %}

{% block stylesheet %}
    {{ encore_entry_link_tags('frontoffice') }}
{% endblock stylesheet %}

{% block content %}
    <section class="min-vw-100 min-vh-100">
    {% for trick in trickDetails %}
        <div class="btn-trick-details">
            {% if trick.images is empty %}
                <img src="{{ asset('build/images/image-default.jpg') }}" class="min-vw-100 min-vh-100 img-fluid" alt="">
            {% else %}
                {% for image in trick.images %}
                    {% if loop.first %}
                        <img src="{{ asset('build/images/'~image.src) }}" class="min-vw-100 min-vh-100 img-fluid"
                             alt="">
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="btn-overlay">
                <!-- Trigger the modal with a button -->
                <button id="modal-btn" type="button" class="custom-btn text-white" data-bs-toggle="modal"
                        data-bs-target="#deleteTrickModal" hidden>
                    Détails
                </button>
            </div>
        </div>
        </section>
        <section class="text-center">
        <!-- Modal -->
        <div class="modal fade" id="deleteTrickModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="img-wrapper">
                                        {% if trick.images is empty %}
                                            <img src="{{ asset('build/images/image-default.jpg') }}"
                                                 class="w-100 img-responsive" height="550" alt="">
                                        {% else %}
                                            {% for image in trick.images %}
                                                {% if loop.first %}
                                                    <img src="{{ asset('build/images/'~image.src) }}"
                                                         class="w-100 img-responsive" height="650" alt="">
                                                    {% if app.user %}
                                                        <div class="img-overlay">
                                                            <div class="btn-group m-3 me-3" role="group"
                                                                 aria-label="Basic outlined example">
                                                                <button type="button" class="btn btn-light"><a href="#"><i
                                                                                class="bi bi-pencil-fill"></i></a>
                                                                </button>
                                                                <button type="button" class="btn btn-light"><a href="#"><i
                                                                                class="bi bi-trash-fill"></i></a>
                                                                </button>
                                                            </div>
                                                            <h3 class="text-white">{{ trick.name }}</h3>
                                                        </div>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div id="content-desktop" class="my-5">
                                        <div class="container">
                                            <div id="carouselExampleControls" class="carousel"
                                                 data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    {% for image in imagesTrick %}
                                                        <div class="{% if loop.first %} carousel-item active {% else %} carousel-item {% endif %}">
                                                            <div class="card">
                                                                <div class="img-wrapper">
                                                                    <img src="{{ asset('build/images/'~image.src) }}"
                                                                         alt="">
                                                                    <embed src="" allowfullscreen="true" class="w-100"
                                                                           height="h-100">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <button class="carousel-control-prev" type="button"
                                                        data-bs-target="#carouselExampleControls"
                                                        data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon"
                                                          aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                        data-bs-target="#carouselExampleControls"
                                                        data-bs-slide="next">
                                                    <span class="carousel-control-next-icon"
                                                          aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="content-mobile" class=" my-3">
                                        <div class="w3-container">
                                            <button onclick="document.getElementById('id01').style.display='block'"
                                                    class="custom-btn">Voir les médias
                                            </button>
                                            <div id="id01" class="w3-modal">
                                                <div class="w3-modal-content">
                                                    <div class="w3-container">
                                                        <span onclick="document.getElementById('id01').style.display='none'"
                                                              class="w3-button w3-display-topright">&times;</span>
                                                        <div class="row my-2">
                                                            <h4>Photos : </h4>
                                                            {% for image in trick.images %}
                                                                <div class="col-sm-12 mb-2">
                                                                    <img class="w-100 h-100"
                                                                         src="{{ asset('build/images/'~image.src) }}"
                                                                         alt="">
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="row mt-4">
                                                            <h4>Vidéos : </h4>
                                                            {% for video in trick.videos %}
                                                                <div class="col-sm-12 mb-2">
                                                                    <embed src="{{ video.src }}"
                                                                           allowfullscreen="true" class="w-100"
                                                                           height="220">
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <p>{{ trick.description }}</p>
                                </div>
                                <div class="col-12">
                                    <p><b>Groupe : </b>{{ trick.group.name }}.
                                        <b class="ms-2">Date de cr&eacute;ation
                                            : </b>{{ trick.createdAt | date("m/d/Y h:m:s") }}.
                                        {% if trick.createdAt != trick.updatedAt %}
                                        <b class="ms-2">Date de modification
                                            : </b>{{ trick.updatedAt | date("m/d/Y h:m:s") }}.</p>
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="col-12">
                                    {% for message in app.flashes('messageSentSuccess') %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    {% if app.user %}
                                        <div class="mb-4">
                                            {{ form_start(form) }}
                                            {{ form_row(form.content) }}
                                            <div class="d-flex justify-content-end">
                                                <button class="custom-btn" type="submit">Envoyer</button>
                                            </div>
                                            {{ form_end(form) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-12 mb-4">
                                    <div class="card message">
                                        {% for message in trick.messages %}
                                            <div class="card-body">
                                                <div class="d-flex mb-4">
                                                    <div class="flex-shrink-0">
                                                        <img class="rounded-circle"
                                                             src="{{ asset('build/images/avatars/'~message.user.avatar) }}"
                                                             width="80" height="60" alt="">
                                                    </div>
                                                    <div class="ms-3">
                                                        <div class="fw-bold">{{ message.user.lastName | lower }} {{ message.user.firstName | lower }}</div>
                                                        {{ message.content }}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="d-flex justify-content-center mt-4">
                                        <button class="custom-btn">
                                            <i class="fa faload-spinner fa-spin"></i>Charger plus
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </section>
{% endblock content %}

{% block javascript %}
{{ encore_entry_script_tags('frontoffice') }}
{% endblock javascript %}
