{% extends 'frontoffice/template.html.twig' %}

{% block title %} Modifier {{ trick.name }} {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('carousel') }}
    {{ encore_entry_link_tags('edit_trick') }}
{% endblock stylesheets %}

{% block content %}
    <section class="min-vw-100 min-vh-100">
        <div class="btn-edit-trick">
            {% if trick.images is empty %}
                <img src="{{ asset('build/images/image-default.jpg') }}" class="min-vw-100 min-vh-100 img-fluid" alt="">
            {% else %}
                {% for image in trick.images %}
                    {% if loop.first %}
                        <img src="{{ asset('build/images/'~image.src) }}" class="min-vw-100 min-vh-100 img-fluid"
                             alt="">
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="btn-overlay">
                <!-- Trigger the modal with a button -->
                <button id="modal-btn" type="button" class="custom-btn text-white" data-bs-toggle="modal"
                        data-bs-target="#editTrickModal" hidden>
                    Modifier
                </button>
            </div>
        </div>
    </section>
    <section>
        <!-- Modal -->
        <div class="modal fade" id="editTrickModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="modal-header">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="image-trick">
                                        <div class="img-wrapper">
                                            {% if trick.images is empty %}
                                                <img src="{{ asset('build/images/image-default.jpg') }}"
                                                     class="w-100 img-responsive" height="560" alt="">
                                            {% else %}
                                                {% for image in trick.images %}
                                                    {% if loop.first %}
                                                        <img src="{{ asset('build/images/'~image.src) }}"
                                                             class="w-100 img-responsive" height="560" alt="">
                                                        {% if app.user %}
                                                            <div class="img-overlay">
                                                                <div class="btn-group m-3 me-3" role="group"
                                                                     aria-label="Basic outlined example">
                                                                    <button type="button" class="btn btn-light"><a
                                                                                href="#"><i
                                                                                    class="bi bi-pencil-fill"></i></a>
                                                                    </button>
                                                                    <button type="button" class="btn btn-light"><a
                                                                                href="javascript:void(0)"
                                                                                onclick="deleteImage({{ image.id }})"><i
                                                                                    class="bi bi-trash-fill"></i></a>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <h1 class="centered">{{ trick.name | upper }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    {% include './frontoffice/_computerModalEditTrick.html.twig' with { 'trick' : trick, 'form_image' : form_image } %}
                                    {% include './frontoffice/_mobileModalEditTrick.html.twig' with { 'trick' : trick, 'form_video' : form_video } %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="pb-5">
                                    {% for message in app.flashes('trickEditSuccess') %}
                                        <div class="alert alert-success alert-dismissible fade show text-center"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('successDeleteImage') %}
                                        <div class="alert alert-success alert-dismissible fade show text-center"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('successDeleteVideo') %}
                                        <div class="alert alert-success alert-dismissible fade show text-center"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    <div class="offset-lg-2 col-lg-8 offset-lg-2 col-sm-12">
                                        {{ form_start(form) }}
                                        {{ form_row(form.name, { 'attr': {'value': trick.name, 'disabled': 'disabled' } }) }}
                                        {{ form_row(form.description, { 'value': trick.description }  ) }}
                                        {% for choice in form.group.vars.choices %}
                                            {% if choice.value == trick.group.id %}
                                                {{ form_row(form.group, {'attr': {'selected': 'selected'}} ) }}
                                            {% endif %}
                                        {% endfor %}
                                        {{ form_row(form.images) }}
                                        {{ form_label(form.videos, 'Vidéo(s) :') }}
                                        <ul id="video-fields-list"
                                            data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
                                            data-widget-tags="{{ '<li></li>'|e }}"
                                            data-widget-counter="{{ form.videos|length }}">
                                            {% for videoField in form.videos %}
                                                <li>
                                                    {{ form_widget(videoField) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <button type="button" class="add-another-collection-widget"
                                                data-list-selector="#video-fields-list">
                                            Ajouter
                                        </button>
                                        <div class="mt-3 text-center">
                                            <a class="btn btn-danger" href="javascript:void(0)"
                                               onclick="deleteTrick({{ trick.id }})">supprimer</a>
                                            <button class="btn btn-primary" type="submit">envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
{{ parent() }}
{{ encore_entry_script_tags('edit_trick') }}
{{ encore_entry_script_tags('delete_trick') }}
{{ encore_entry_script_tags('carousel') }}
{% endblock javascript %}


