{% extends 'frontoffice/template.html.twig' %}

{% block title %} Modifier {{ trick.name }} {% endblock title %}

{% block stylesheet %}
    {{ encore_entry_link_tags('frontoffice') }}
{% endblock stylesheet %}

{% block content %}
    <section class="min-vw-100 min-vh-100">
        <div class="btn-edit-trick">
            {% if trick.images is empty %}
                <img src="{{ asset('build/images/image-default.jpg') }}" class="min-vw-100 min-vh-100 img-fluid" alt="">
            {% else %}
                {% for image in trick.images %}
                    {% if loop.first %}
                        <img src="{{ asset('build/images/'~image.src) }}" class="min-vw-100 min-vh-100 img-fluid"
                             alt="">
                    {% endif %}
                {% endfor %}
            {% endif %}
            <div class="btn-overlay">
                <!-- Trigger the modal with a button -->
                <button id="modal-btn" type="button" class="custom-btn text-white" data-bs-toggle="modal"
                        data-bs-target="#editTrickModal" hidden>
                    Modifier
                </button>
            </div>
        </div>
    </section>
    <section>
        <!-- Modal -->
        <div class="modal fade" id="editTrickModal" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog modal-xl modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-12">
                                    <div class="image-trick">
                                        <div class="img-wrapper">
                                            {% if trick.images is empty %}
                                                <img src="{{ asset('build/images/image-default.jpg') }}"
                                                     class="w-100 img-responsive" height="560" alt="">
                                            {% else %}
                                                {% for image in trick.images %}
                                                    {% if loop.first %}
                                                        <img src="{{ asset('build/images/'~image.src) }}"
                                                             class="w-100 img-responsive" height="560" alt="">
                                                        {% if app.user %}
                                                            <div class="img-overlay">
                                                                <div class="btn-group m-3 me-3" role="group"
                                                                     aria-label="Basic outlined example">
                                                                    <button type="button" class="btn btn-light"><a
                                                                                href="#"><i
                                                                                    class="bi bi-pencil-fill"></i></a>
                                                                    </button>
                                                                    <button type="button" class="btn btn-light"><a
                                                                                href="javascript:void(0)"
                                                                                onclick="deleteImage({{ image.id }})"><i
                                                                                    class="bi bi-trash-fill"></i></a>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                        <h1 class="centered">{{ trick.name | upper }}</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div id="content-desktop" class="my-5">
                                        <div class="container">
                                            <div id="carouselExampleControls" class="carousel"
                                                 data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    {% for image in trick.images %}
                                                        <div class="{% if loop.first %} carousel-item active {% else %} carousel-item {% endif %}">
                                                            <div class="card">
                                                                <div class="img-wrapper">
                                                                    <img src="{{ asset('build/images/'~image.src) }}"
                                                                         alt="">
                                                                </div>
                                                                <div class="d-flex justify-content-end">
                                                                    <div class="btn-group m-3 me-3" role="group"
                                                                         aria-label="Basic outlined example">
                                                                        <button type="button" class="btn btn-light"
                                                                                id="show"><a href="#">
                                                                                <i class="bi bi-pencil-fill"></i></a>
                                                                        </button>
                                                                        <button type="button" class="btn btn-light"><a
                                                                                    href="javascript:void(0)"
                                                                                    onclick="deleteImage({{ image.id }})">
                                                                                <i class="bi bi-trash-fill"></i></a>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    {% for video in trick.videos %}
                                                        <div class="{% if loop.first %} carousel-item active {% else %} carousel-item {% endif %}">
                                                            <div class="card">
                                                                <div class="img-wrapper">
                                                                    <embed src="{{ video.src }}" allowfullscreen="true"
                                                                           class="w-100 me-2" height="h-100">
                                                                </div>
                                                                <div class="d-flex justify-content-end">
                                                                    <div class="btn-group m-3 me-3" role="group"
                                                                         aria-label="Basic outlined example">
                                                                        <button type="button" class="btn btn-light"
                                                                                id="show"><i
                                                                                    class="bi bi-pencil-fill"></i>
                                                                        </button>
                                                                        <button type="button" class="btn btn-light"><a
                                                                                    href="javascript:void(0)"
                                                                                    onclick="deleteVideo({{ video.id }})"><i
                                                                                        class="bi bi-trash-fill"></i></a>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <button class="carousel-control-prev" type="button"
                                                        data-bs-target="#carouselExampleControls"
                                                        data-bs-slide="prev">
                                                        <span class="carousel-control-prev-icon"
                                                              aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                        data-bs-target="#carouselExampleControls"
                                                        data-bs-slide="next">
                                                        <span class="carousel-control-next-icon"
                                                              aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="content-mobile" class=" my-3">
                                        <div class="w3-container">
                                            <button onclick="document.getElementById('id01').style.display='block'"
                                                    class="custom-btn">Voir les médias
                                            </button>
                                            <div id="id01" class="w3-modal">
                                                <div class="w3-modal-content">
                                                    <div class="w3-container">
                                                            <span onclick="document.getElementById('id01').style.display='none'"
                                                                  class="w3-button w3-display-topright">&times;</span>
                                                        <div class="row my-2">
                                                            <h4>Photos : </h4>
                                                            {% for image in trick.images %}
                                                                <div class="col-sm-12">
                                                                    <img class="w-100 h-100"
                                                                         src="{{ asset('build/images/'~image.src) }}"
                                                                         alt="">
                                                                </div>
                                                                <div class="offset-8 col-4 mb-2">
                                                                    <div class="btn-group" role="group"
                                                                         aria-label="Basic outlined example">
                                                                        <button type="button" class="btn btn-light">
                                                                            <a href="#"><i
                                                                                        class="bi bi-pencil-fill"></i></a>
                                                                        </button>
                                                                        <button type="button" class="btn btn-light">
                                                                            <a href="#"><i
                                                                                        class="bi bi-trash-fill"></i></a>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="row mt-4">
                                                            <h4>Vidéos : </h4>
                                                            {% for video in trick.videos %}
                                                                <div class="col-sm-12">
                                                                    <embed src="{{ video.src }}"
                                                                           allowfullscreen="true" class="w-100"
                                                                           height="220">
                                                                </div>
                                                                <div class="offset-8 col-4 mb-2">
                                                                    <div class="btn-group" role="group"
                                                                         aria-label="Basic outlined example">
                                                                        <button type="button" class="btn btn-light">
                                                                            <a href="#"><i
                                                                                        class="bi bi-pencil-fill"></i></a>
                                                                        </button>
                                                                        <button type="button" class="btn btn-light">
                                                                            <a href="#"><i
                                                                                        class="bi bi-trash-fill"></i></a>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="pb-5">
                                    {% for message in app.flashes('trickEditSuccess') %}
                                        <div class="alert alert-success alert-dismissible fade show text-center"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('successDeleteImage') %}
                                        <div class="alert alert-success alert-dismissible fade show text-center"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('successDeleteVideo') %}
                                        <div class="alert alert-success alert-dismissible fade show text-center"
                                             role="alert">
                                            {{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                    aria-label="Close"></button>
                                        </div>
                                    {% endfor %}
                                    <div class="offset-lg-2 col-lg-8 offset-lg-2 col-sm-12">
                                        {{ form_row(form.name, { 'attr': {'value': trick.name } }) }}
                                        {{ form_row(form.description, { 'value': trick.description }  ) }}
                                        {% for choice in form.group.vars.choices %}
                                            {% if choice.value == trick.group.id %}
                                                {{ form_row(form.group, {'attr': {'selected': 'selected'}} ) }}
                                            {% endif %}
                                        {% endfor %}
                                        {{ form_row(form.images) }}
                                        {{ form_label(form.videos, 'Vidéo(s) :') }}
                                        <ul id="video-fields-list"
                                            data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
                                            data-widget-tags="{{ '<li></li>'|e }}"
                                            data-widget-counter="{{ form.videos|length }}">
                                            {% for videoField in form.videos %}
                                                <li>
                                                    {{ form_widget(videoField) }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                        <button type="button" class="add-another-collection-widget"
                                                data-list-selector="#video-fields-list">
                                            Ajouter
                                        </button>
                                        <div class="mt-3 text-center">
                                            <a class="btn btn-danger" href="#" role="button">supprimer</a>
                                            <button class="btn btn-primary" type="submit">envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
{{ encore_entry_script_tags('frontoffice') }}
{% endblock javascript %}


