{% extends 'frontoffice/template.html.twig' %}

{% block title %} Accueil {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home') }}
{% endblock stylesheets %}

{% block content %}
    <section class="masthead bg-primary text-white min-vw-100 min-vh-100" id="header">
        <div class="container d-flex align-items-center flex-column">
            <h1 class="masthead-subheading font-weight-light mt-5">Bienvenue dans votre plateforme SNOW TRICKS</h1>
            <p class="message">Inscrivez-vous pour pouvoir publier ou commenter un trick</p>
        </div>
        <div class="scrollDown d-flex justify-content-end mx-4">
            <a class="btn" href="#tricks">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                     class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1
                0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z"/>
                </svg>
            </a>
        </div>
    </section>
    <section class="page-section" id="tricks">
        <div class="container">
            {% for message in app.flashes('successDeleteTrick') %}
                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for message in app.flashes('successCreateTrick') %}
                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
            {% for message in app.flashes('resetPasswordSuccess') %}
                <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                            aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="row row-cols-1 row-cols-sm-5">
                {% for trick in tricks %}
                    <div class="col mb-4">
                        <div class="card-trick">
                            <div class="card">
                                {% if trick.images is empty %}
                                    <img src="{{ asset('build/images/image-default.jpg') }}" class="card-img-top" alt=""
                                         width="50" height="140">
                                {% else %}
                                    {% for image in trick.images %}
                                        {% if loop.first %}
                                            <img src="{{ asset('build/images/'~image.src) }}" class="card-img-top"
                                                 alt=""
                                                 width="50" height="140">
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <div>
                                            <a class="text-decoration-none"
                                               href="{{ path('trick_details', { 'id' : trick.id, 'slug' : trick.slug }) }}"
                                               class="card-title">{{ trick.name }}</a>
                                        </div>
                                        <div>
                                            {% if is_granted('ROLE_VISITOR') %}
                                                {% if trick.user.username == app.user.username %}
                                                <a href="{{ path('trick_edit', { 'id':trick.id, 'slug' : trick.slug }) }}"><i
                                                            class="bi bi-pencil-fill"></i></a>
                                                <a class="ms-3" href="javascript:void(0)"
                                                   onclick="deleteTrick({{ trick.id }})"><i
                                                            class="bi bi-trash-fill"></i></a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button class="custom-btn" id="loadMore">
                <i class="fa fa-spinner fa-spin"></i>Charger plus
            </button>
        </div>
        <div class="d-flex justify-content-end mx-4">
            <a class="btn" href="#tricks">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                     class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16
                        0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708
                        0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
            </a>
        </div>
    </section>
{% endblock content %}

{% block javascript %}
{{ encore_entry_script_tags('home') }}
{{ encore_entry_script_tags('delete_trick') }}
{% endblock javascript %}
