{% extends 'frontoffice/template.html.twig' %}

{% block title %} Réinitialiser mot de passe {% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('reset_password') }}
{% endblock stylesheets %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 resetPassword">
                <div class="card shadow-lg border-0 rounded-lg">
                    <div class="card-header"><h3 class="text-center font-weight-light">Réinitialiser mot de
                            passe</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        <div class="form-floating mb-3">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        </div>
                        <div class="form-floating mb-3">
                            {{ form_row(form.username, {'label': 'Nom d\'utilisateur', 'value': username}) }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form_row(form.password, {'label': 'Mot de passe'}) }}
                        </div>
                        <div class="d-flex align-items-center justify-content-end mt-4 mb-0">
                            <button type="submit" class="btn btn-primary">Réinitialiser</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
{{ parent() }}
{% endblock javascript %}
