{% extends 'backoffice/layout.html.twig' %}

{% block title %} Détails de {{ trick.name }} {% endblock title %}

{% block content %}
    <div class="container-fluid px-4">
        <h4 class="mt-4"> Gestion des figures </h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
            <li class="breadcrumb-item active"> détails de {{ trick.name }} </li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="me-1"></i>
                Détails de {{ trick.name }}
            </div>
            <div class="card-body">
                <p><b>Nom</b> : {{ trick.name }}</p>
                <p><b>Auteur</b> : {{ trick.user.lastName }} {{ trick.user.firstName }}</p>
                <p><b>Groupe</b> : {{ trick.group.name }}</p>
                <p><b>Description</b> : {{ trick.description }}</p>
                <p><b>Date de création</b> : {{ trick.createdAt | date("d/m/Y \\à h:m:s") }}</p>
                <p><b>Dernière modification</b> : {{ trick.pdatedAt | date("d/m/Y \\à h:m:s") }}</p>
                <div class="d-flex justify-content-end">
                    <div class="justify-content-between">
                        <a class="btn btn-primary" href="#" role="button">Retour
                            liste</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}