{% extends 'backoffice/layout.html.twig' %}

{% block title %} Création d'un utilisateur {% endblock title %}

{% block content %}
    <div class="container-fluid px-4">
        <h4 class="mt-4"> Gestion des utilisateurs </h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active">
                création d'un utilisateur
            </li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="me-1"></i>
                Création d'un utilisateur
            </div>
            <div class="card-body">
                {% for message in app.flashes('existingUser') %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert"
                                aria-label="Close"></button>
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                {{ form_row(form.username, { 'label' : 'Nom d\'utilisateur :' }) }}
                {{ form_row(form.email, { 'label' : 'Email :' }) }}
                {{ form_row(form.password, { 'label' : 'Mot de passe :' }) }}
                {{ form_row(form.role, { 'label' : 'Roles :' }) }}
                <div class="d-flex align-items-center justify-content-end mt-4 mb-0">
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
