{% extends 'backoffice/layout.html.twig' %}

{% block title %} Modification d'un utilisateur {% endblock title %}

{% block content %}
    <div class="container-fluid px-4">
        <h4 class="mt-4"> Gestion des utilisateurs </h4>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Tableau de bord</a></li>
            <li class="breadcrumb-item active">
                modification d'un utilisateur
            </li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="me-1"></i>
                Modification d'un utilisateur
            </div>
            <div class="card-body">
                {{ form_start(form) }}
                {% if form.vars.value == selectedUser.enabled %}
                    {{ form_row(form.enabled, { 'label' : 'Statut', 'checked' : 'checked' }) }}
                {% else %}
                    {{ form_row(form.enabled, { 'label' : 'Statut' }) }}
                {% endif %}
                {% for role in selectedUser.roles %}
                    {{ form_row(form.roles, { 'label' : 'Roles :', 'selected' : 'selected' }) }}
                {% endfor %}
                <div class="d-flex align-items-center justify-content-end mt-4 mb-0">
                    <button type="submit" class="btn btn-primary">Modifier</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}